html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.text-pink{
    color:#ff1448 !important;
}
.nav-link{
    letter-spacing: 2px;
}
#CarouselSlide{
    height: 400px;
}
footer{
    background-color:darkred;
    height:200px;
}
header{
    z-index: 1000;
}
.dishCard{
    height: 250px;
}
.fa-instagram {
    color: #833AB4;
}
.fa-whatsapp {
    color: #128C7E;
}
.fa-envelope {
    color: #4285F4;
}
#recipe-list{
    top: 5rem;
}
#recipe-list::-webkit-scrollbar{
    width: 10px;
}
#recipe-list::-webkit-scrollbar-track{
    background-color: #ffffff;
}
.recipe-item:hover{
    background-color: crimson;
    border-radius: 10px;


}

.recipe-item-hover a{
    color: #ffffff !important;
}
